
/* HOMEPAGE */

body.page {
background-image: none;
}
body.home {
background-image: url(../images/ch_home-s1--bg.jpg);
}

  /* featured products */
.home_section-2--columns.w-row .gallery_column--contain  {
  cursor: pointer;
  height: 300px;
}
/* news section */
  .news_title-1 {
  max-width: 500px;
}
  .news_content--text > p {
  font-family: Niramit, sans-serif;
  color: #fff;
  font-size: 1em;
  line-height: 1.6em;
  letter-spacing: 0.5px;
}


/* FONTS */
