/* GLOBAL */
body {
  height: 100%;
}

/* HOMEPAGE */


body.page {
background-image: none;
}
body.home {
background-image: url(../images/ch_home-s1--bg.jpg);
}

  /* featured products */
.home_section-2--columns.w-row .gallery_column--contain  {
  cursor: pointer;
  height: 300px;
}
/* news section */
  .news_title-1 {
  max-width: 500px;
}
  .news_content--text > p {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1em;
  line-height: 1.6em;
  letter-spacing: 0.5px;
}


/* GALLERY */

.gallery_pg_cat-title {
    font-family: 'Open Sans', sans-serif;
    color: #4d3f3b;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
    text-transform: none;
    padding-bottom: 1em;
}

.gallery_pg_cat-title a {
color: #4d3f3b;
}

.fancybox-bg {
  opacity: .4!important;
}

.fancybox-image {
    border: solid 20px #ffffff;
}
